* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #060505;
  color: #fff;
  font-size: 1rem;
  width: 100%;
  font-family: system-ui, "Open Sans", "Helvetica Neue", sans-serif;
}

.page-container {
  width: 100%;
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: auto;
}

.item-box,
.grid-box {
  border: 1px solid;
  padding: 1rem;
  border-radius: 8px;
}

.bg-orange {
  background-color: #ffa600;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 8px;
  box-shadow: #000 0 -1px 4px 2px;
}

#container {
  border-radius: 24px;
  box-shadow: inset 0 -1px 0 5px;
  padding: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

svg {
  width: 18px;
  height: 18px;
}

.time-battery-wifi {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rectangle-dot {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.square {
  width: 64px;
  height: 8px;
  border-radius: 24px;
  background-color: #fff;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #fff;
}

.element-items {
  width: 100%;
  padding: 3em 0.5em;
  border: 1px solid;
}

.item-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-items-one,
.flex-items-two,
.flex-items-three,
.element-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  text-align: center;
  box-shadow: 0 0 5px 4px #000;
}

input {
  width: 100%;
  padding: 0.5em;
  text-align: right;
  border: none;
  outline: none;
  background-color: #060505;
  color: #fff;
  box-shadow: 0 0 5px 4px #000;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orange {
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}

.equal-span {
  grid-row-end: 2 span;
  place-content: center;
}

.equal-symbol {
  text-align: center;
}

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
